################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/OpenGL_Game_Tutorial/.vs/OpenGL_Game_Tutorial/v15/Browse.VC.db
